.container-bg{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    /*overflow: hidden;*/
    overflow: auto; 

    
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-image: url('https://wallpapers.com/images/hd/digimon-background-0c5z28n63449d41g.jpg');
}